<!DOCTYPE html>
<html ng-app="store">
<head>
	<title>Flat Lander Store</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="StoreController as store">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products">
			<h3><product-title></product-title></h3>
			<img ng-src="{{ product.images[0].full }}"/>
			<product-panels></product-panels>
		</li>
	</ul>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/products.js"></script>
</body>
</html>