<section>
	<ul class="nav nav-pills">
		<li ng-class="{ active: panel.isSelected(1) }">
			<a href ng-click="panel.selectTab(1)">Description</a>
		</li>
		<li ng-class="{ active: panel.isSelected(2) }">
			<a href ng-click="panel.selectTab(2)">Specifications</a>
		</li>
		<li ng-class="{ active: panel.isSelected(3) }">
			<a href ng-click="panel.selectTab(3)">Reviews</a>
		</li>
	</ul>
	<div class="panel" ng-show=" panel.isSelected(1) ">
		<h4>Description</h4>
		<blockquote>{{ product.description }}</blockquote>
	</div>
	<div class="panel" ng-show=" panel.isSelected(2) ">
		<h4>Specifications</h4>
		<blockquote>None yet</blockquote>
	</div>
	<div class="panel" ng-show=" panel.isSelected(3) ">
		
		<product-reviews></product-reviews>

		<product-review-form></product-review-form>

	</div>
</section>