<form name="reviewForm" ng-submit="reviewForm.$valid && reviewFormCtrl.addReview(product)" novalidate>
	<blockquote>
		<b>Stars: {{ reviewFormCtrl.review.stars }}</b>
		{{ reviewFormCtrl.review.body }}
		<cite>by: {{ reviewFormCtrl.review.author }}</cite>
	</blockquote>
	<div class="form-group">
		<select class="form-control" ng-model="reviewFormCtrl.review.stars" required>
			<option value="1">1 star</option>
			<option value="2">2 stars</option>
			<option value="3">3 stars</option>
			<option value="4">4 stars</option>
			<option value="5">5 stars</option>
		</select>
	</div>
	<div class="form-group">
		<textarea class="form-control" ng-model="reviewFormCtrl.review.body" required></textarea>
	</div>
	<div class="form-group">
		<label>by:</label>
		<input class="form-control" ng-model="reviewFormCtrl.review.author" type="email" required/>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>